@import '../../../../themes';

@include nb-install-component() {
  .header-container .logo-containter .logo {
    color: nb-theme(text-primary-color);
    font-weight: nb-theme(text-paragraph-font-weight);
  }

  .header-container {
    .logo-containter {
      .logo {
        border-color: nb-theme(divider-color);
      }
    }
  }
}

.header-container {
  display: flex;

  #header-tabset {
    padding: 0 1.25rem;
  }

  .logo-containter {
    display: flex;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      height: 4.75rem;
      padding: 0 1.25rem;
      font-size: 1.75rem;
      white-space: nowrap;
      border-right: 1px solid;
    }
  }
}

@media (max-width: 768px) {
  .header-container {
    #header-tabset {
      display: none;
    }

    .logo-containter {
      width: 100%;
      font-size: 2.5rem;

      .logo {
        width: 100%;
        border-right: none;
        justify-content: center;
      }
    }
  }

  .header--theme-container {
    display: none;
  }
}

@media (min-width: 768px) {
  .header-container {
    .logo-containter {
      .navigation {
        display: none;
      }
    }
  }

  .header--theme-container {
    align-self: center;
    margin-left: auto;
    margin-right: 2em;
  }
}
