@import '../../../../themes';

@include nb-install-component() {

  .header-container .logo-containter .logo {
    color: nb-theme(text-primary-color);
    font-weight: nb-theme(text-paragraph-font-weight);
    @include nb-ltr(border-right, 1px solid nb-theme(divider-color));
  }
}

.header-container {
  display: flex;

  #header-tabset {
    padding: 0 1.25rem;
  }

  .logo-containter {
    display: flex;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      height: 4.75rem;
      padding: 0 1.25rem;
      font-size: 1.75rem;
      white-space: nowrap;
    }
  }
}
