@import '../../../../themes';
@import '../../../../animations';

@include nb-install-component() {

  #menu-sidebar {

    .menu-container {
      background: nb-theme(background-basic-color-2);
    }
  }
}

#menu-sidebar {
  background: rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
  left: 0;
  z-index: 10000;
  animation-duration: 500ms;
  overflow: hidden;

  &.in {
    animation-name: backgroundin;
  }

  &.out {
    animation-name: backgroundout;
  }

  .menu-container {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    position: fixed;
    top: 0;
    animation-duration: 500ms;
    overflow: hidden;

    &.in {
      animation-name: enterleft;
    }

    &.out {
      animation-name: exitleft;
    }

    #menu {
      margin: 5rem 0 0 0;
    }
  }
}

@media (min-width: 768px) {

  #menu-sidebar {
    display: none;
  }
}
