@import 'src/_themes.scss';

@include nb-install-component() {

  .dim-container {

    .title {
      font-size: nb-theme(text-heading-6-font-size);
    }
  }
}

.dim-container {
  margin: 0 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    margin: 0 0 1.5rem 0;
  }

  .radio-btn {
    position: absolute;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 2.2rem;
    box-shadow: 0 8px 20px 0 rgba(40, 37, 89, 0.6);
    cursor: pointer;
  }
}
