@import 'src/_themes.scss';

@include nb-install-component() {

  .dim-container {

    .title {
      font-size: nb-theme(text-heading-6-font-size);
    }
  }
}

.card-body {
  overflow: hidden;

  .dim-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      margin: 0 0 1.5rem 0;
    }

    #dim-progress {
      cursor: pointer;
    }

    .radio-container {
      display: flex;

      .radio-content {
        width: 100%;

        .radio-btn {
          position: relative;
          height: 2.2rem;
          width: 2.2rem;
          border-radius: 2.2rem;
          box-shadow: 0 8px 20px 0 rgba(40, 37, 89, 0.6);
          cursor: pointer;
          bottom: 1.6rem;
          left: -1.1rem;
          right: -1.1rem;
          transition-duration: 400ms;
          transition-property: margin-left;
        }
      }
    }
  }
}
