@import 'src/_themes.scss';

@include nb-install-component() {

  .icon-container {

    .title {
      font-size: nb-theme(text-heading-6-font-size);
    }

    .icon-form:focus-within {
      border-color: nb-theme(input-focus-border-color);
      box-shadow: 0 0 0 0.375rem nb-theme(color-basic-700);
    }
  }
}

.icon-container {
  display: flex;
  justify-content: center;

  .icon-form-container {
    display: flex;
    flex-direction: column;

    .title {
      margin: 0 0 1rem 0;
    }

    .icon-form {
      display: flex;
      justify-content: center;
      border-radius: 0.5rem;
      margin: 0 auto;

      .icon-form:focus-within {
        outline: none;
      }

      .icon-input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .icon-btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      .icon-input:focus, .icon-btn:focus {
        border-color: none;
        box-shadow: none;
      }
    }
  }
}
