@import 'src/themes';

@include nb-install-component() {

  .type-container {
    min-height: calc(100vh - 10rem);

    .type {
      font-size: nb-theme(text-heading-5-font-size);
    }
  }
}

.type-container {
  display: flex;
  flex-direction: column;

  .type {
    margin: 1rem 0;
    text-transform: uppercase;
  }

  .temp-icon {
    width: 60%;
    height: 60%;
  }

}
