@import 'src/_themes.scss';
@import '../../../animations';

@include nb-install-component() { }

.options-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;

  &.appear {
    opacity: 1;
    animation-name: appear;
  }

  &.disappear {
    opacity: 0;
    animation-name: disappear;
  }

  .close-icon {
    margin: 0 0 2rem auto;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
}
