<ng-container *ngIf="(devices$ | async) as devices">
  <div class="type-container {{ filter }} {{ navState }}" *ngIf="!!devices.length || loading; else noDevices">
    <ng-container *ngFor="let type of (types$ | async)">
      <span class="type">{{ type }}</span>

      <div class="row">
        <ng-container *ngFor="let device of devices">
          <div class="col-xxxl-3 col-md-6" *ngIf="device.SwitchType === type || device.Type === type">
            <nd-status-card [title]="device.Name" (statusChanged)="statusChanged($event, device)"
              [on]="isSwitchOn(device)" [disabled]="device.HaveTimeout" [status]="device[statusKey]"
              [loading]="switchLoading && clickedIdx === device.idx" (optionsClick)="onOptionsClick(device.idx)">

              <i *ngIf="icon[device.Image]?.startsWith('nb')" [ngClass]="icon[device.Image]"></i>

              <nd-svg-icon *ngIf="icon[device.Image]?.startsWith('nd')" class="nd-icon {{ device[statusKey] }}"
                [name]="icon[device.Image]" [status]="device[statusKey]">
              </nd-svg-icon>

              <!-- <nb-icon *ngIf="filter === 'temp'" class="temp-icon"
                icon="{{ device.Temp ? 'thermometer-outline' : 'droplet-outline' }}">
              </nb-icon> -->

            </nd-status-card>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-template #noDevices>
  <div class="no-devices {{ path === 'temperature' ? 'temp' : 'switches' }} {{ navState }}">
    <span>No</span>
    <span>devices</span>
    <span>found</span>
  </div>
</ng-template>
