@import 'src/_themes.scss';
@import '../../../animations';

@include nb-install-component() {

  .type-container {

    .type {
      font-size: nb-theme(text-heading-5-font-size);
    }

    .nd-icon {
      width: 100%;
      height: 100%;

      &.Off {
        fill: nb-theme(text-basic-color);
        stroke: nb-theme(text-basic-color);
      }

      &.Closed, &.Open {
        fill: nb-theme(text-basic-color);
        stroke: nb-theme(text-basic-color);
        pointer-events: none;
      }

      &.On {
        fill: nb-theme(text-primary-color);
        stroke: nb-theme(text-primary-color);
      }
    }
  }
}

.type-container {
  min-height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  animation-name: enterright;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  position: relative;

  .type {
    margin: 1rem 0;
    text-transform: uppercase;
  }
}
