<ng-container *ngIf="(devices$ | async) as devices">
  <div class="type-container" *ngIf="!!devices.length; else noDevices">
    <ng-container *ngFor="let type of (types$ | async)">
      <span class="type">{{ type }}</span>

      <div class="row">
        <ng-container *ngFor="let device of devices">
          <div class="col-xxxl-3 col-md-6" *ngIf="device.SwitchType === type">
            <nd-status-card [title]="device.Name" (statusChanged)="statusChanged($event, device)"
              [on]="isSwitchOn(device)" [disabled]="device.HaveTimeout" [status]="device.Status"
              [loading]="switchLoading && clickedIdx === device.idx" (optionsClick)="onOptionsClick(device.idx)">
              <i *ngIf="icon[device.Image]?.startsWith('nb'); else svgIcon" [ngClass]="icon[device.Image]"></i>

              <ng-template #svgIcon>
                <nd-svg-icon class="nd-icon {{ device.Status }}" [name]="icon[device.Image]"
                  [status]="device.Status">
                </nd-svg-icon>
              </ng-template>
            </nd-status-card>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-template #noDevices>
  <div class="no-devices">
    <span>No</span>
    <span>devices</span>
    <span>found</span>
  </div>
</ng-template>
