@import 'src/_themes.scss';
@import '../../../animations';

@include nb-install-component() {
  .type-container {
    .type {
      font-size: nb-theme(text-heading-5-font-size);
    }
  }
}

.type-container {
  min-height: calc(100vh - 11rem);
  display: flex;
  flex-direction: column;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  position: relative;

  &.light {
    &.in {
      animation-name: enterleft;
    }

    &.out {
      animation-name: exitleft;
      left: calc(-100% - 1.5rem);
    }
  }

  &.temp {
    &.in {
      animation-name: enterright;
    }

    &.out {
      animation-name: exitright;
      right: calc(-100% - 1.5rem);
    }
  }

  .type {
    margin: 1rem 0;
    text-transform: uppercase;
  }
}

.no-devices {
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  position: relative;

  &.temp {
    &.in {
      animation-name: enterright;
    }

    &.out {
      animation-name: exitright;
      right: calc(-100% - 1.5rem);
    }
  }

  &.switches {
    animation-name: enterleft;
  }
}
