@import 'src/_themes.scss';
@import '~@nebular/bootstrap/styles/hero-buttons';

@include nb-install-component() {

  #dialog-header, .dialog-body {
    color: nb-theme(text-primary-color);
  }
}

nd-header {
  width: 100%;
}

.center {
  text-align: center;
}
