<nb-layout>
  <nb-layout-header class="header">
    <nd-header
      (menuToggle)="onMenuToggle()"
      [themes]="themes"
      [selectedTheme]="selectedTheme$ | async"
      (themeSelected)="saveTheme($event)"
    ></nd-header>
  </nb-layout-header>

  <nb-layout-column class="content {{ menuState }}">
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    {{ version }}
  </nb-layout-footer>
</nb-layout>

<nd-menu-sidebar
  *ngIf="showMenu"
  [animationState]="menuState"
  [themes]="themes"
  [selectedTheme]="selectedTheme$ | async"
  (outsideClick)="onMenuToggle()"
  (themeSelected)="saveTheme($event)"
>
</nd-menu-sidebar>

<nd-settings-sidebar></nd-settings-sidebar>

<ng-template #updateDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header id="dialog-header" class="center"
      >Update available</nb-card-header
    >
    <nb-card-body class="center dialog-body">{{ data }}</nb-card-body>
    <nb-card-footer class="center">
      <button nbButton (click)="closeDialog()">Reload</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
