@import 'src/_themes.scss';
@import '~@nebular/bootstrap/styles/hero-buttons';

@include nb-install-component() {

  #dialog-header, .dialog-body {
    color: nb-theme(text-primary-color);
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10001;

  nd-header {
    width: 100%;
  }
}

.content {
  margin: 5rem 0 0 0;
}

.center {
  text-align: center;
}
