<nb-layout>

  <nb-layout-header fixed>
    <nd-header></nd-header>
  </nb-layout-header>

  <nb-layout-column>

    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
    {{ version }}
  </nb-layout-footer>

</nb-layout>

<nd-settings-sidebar></nd-settings-sidebar>

<ng-template #updateDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header id="dialog-header" class="center">Update available</nb-card-header>
    <nb-card-body class="center dialog-body">{{ data }}</nb-card-body>
    <nb-card-footer class="center">
      <button nbButton (click)="closeDialog()">Reload</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
