@import 'src/themes';

@include nb-install-component() {

  .content-container {
    background: nb-theme(background-basic-color-2);

    .form-container {

      .form-control:focus {
        color: nb-theme(text-control-color);
        background-color: nb-theme(background-basic-color-2);
      }

      .input-danger {
        border-color: nb-theme(input-danger-border-color);
      }

      .input-success {
        border-color: nb-theme(input-success-border-color);
      }

      .error-message {
        color: nb-theme(input-danger-border-color);
      }
    }
  }

  .optional {
    margin: 0 0 .5rem .5rem;
    color: white;
  }

  .connection-state {
    width: 80%;
    height: 5rem;
    margin-top: auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    background-color: nb-theme(layout-background-color);
    border-width: 2px;
    border: solid;
    border-radius: nb-theme(input-rectangle-border-radius);
    padding: nb-theme(input-tiny-padding);
    color: nb-theme(input-text-color);

    &.success {
      border-color: nb-theme(input-success-border-color);
    }

    &.danger {
      border-color: nb-theme(input-danger-border-color);
    }
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .form-container {
    margin: 15vh 20px;

    .clear-btn {
      display: flex;
      margin: 0 0 2vh auto;
    }
  }
}

@media (max-width: 768px) {

  .content-container {
    height: calc(100vh - 7.5rem);

    .form-container {
      margin: 3vh 20px 6vh 20px;
    }
  }
}
