@import 'src/themes';

@include nb-install-component() {

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: nb-theme(scrollbar-bg);

    .form-container {
      margin: 25vh 20px;

      .form-control:focus {
        color: nb-theme(color-white);
      }

      .input-danger {
        box-shadow: none;
      }

      .input-success {
        box-shadow: none;
        border-color: nb-theme(form-control-success-border-color);
      }

      .error-message {
        color: nb-theme(form-control-danger-border-color);
      }
    }
  }

  .connection-state {
    width: 80%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    background-color: nb-theme(layout-bg);
    border-width: 2px;
    border: solid;
    border-radius: nb-theme(form-control-border-radius);
    padding: nb-theme(form-control-padding);
    color: nb-theme(form-control-placeholder-color);

    &.success {
      border-color: nb-theme(form-control-success-border-color);
    }

    &.danger {
      border-color: nb-theme(form-control-danger-border-color);
    }
  }
}
