@import 'src/_themes.scss';
@import '~@nebular/bootstrap/styles/hero-buttons';

@include nb-install-component() {
  nb-card {
    box-shadow: nb-theme(button-hero-bevel-size) #342f6e, nb-theme(shadow);

    .icon {
      border-radius: nb-theme(card-border-radius) 0 0
        nb-theme(card-border-radius);
      color: nb-theme(text-primary-color);

      &.primary {
        $left-color: nb-theme(button-hero-primary-left-background-color);
        $right-color: nb-theme(button-hero-primary-right-background-color);
        $glow: nb-theme(button-hero-glow-size)
          nb-theme(button-hero-primary-glow-color);
        $shadow: nb-theme(button-hero-shadow);
        $bevel: nb-theme(button-hero-bevel-size)
          nb-theme(button-hero-primary-bevel-color);
        $hero-box-shadows: $bevel, $glow, $shadow;
        background-image: linear-gradient(to right, $left-color, $right-color);
        box-shadow: $hero-box-shadows;
      }
    }

    &.off {
      color: nb-theme(text-basic-color);

      .icon {
        color: nb-theme(text-basic-color);
      }

      .title {
        color: nb-theme(text-basic-color);
      }
    }

    .details {
      @include nb-ltr(padding, 0 0.5rem 0 0.75rem);
      @include nb-rtl(padding, 0 0.75rem 0 0.5rem);
    }

    .title {
      font-family: nb-theme(font-family-secondary);
      font-weight: nb-theme(text-subtitle-font-weight);
      color: nb-theme(text-primary-color);
    }

    .status {
      font-weight: nb-theme(text-paragraph-font-weight);
      color: nb-theme(text-basic-color);
    }
  }

  .nd-icon {
    width: 100%;
    height: 100%;

    &.Off {
      fill: nb-theme(text-basic-color);
      stroke: nb-theme(text-basic-color);
    }

    &.Closed,
    &.Open {
      fill: nb-theme(text-basic-color);
      stroke: nb-theme(text-basic-color);
      pointer-events: none;
    }

    &.On {
      fill: nb-theme(text-primary-color);
      stroke: nb-theme(text-primary-color);
    }
  }

  @media (min-width: 992px) {
    nb-card {
      &:hover {
        background: lighten(nb-theme(background-basic-color-1), 5%);

        .icon {
          &.primary {
            background-image: btn-hero-primary-light-gradient();
          }
        }
      }
    }
  }
}

nb-card {
  flex-direction: row;
  align-items: center;
  height: 6rem;
  overflow: visible;

  &.disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  &.no-event {
    pointer-events: none;
  }

  .icon-container {
    height: 100%;
    padding: 0;
    border-right: 1px solid #342e73;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 100%;
    font-size: 3.75rem;
  }

  &.off {
    .icon {
      &.primary {
        box-shadow: none !important;
        background-image: linear-gradient(
          to right,
          transparent,
          transparent
        ) !important;
      }

      &.secondary {
        background: transparent;
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 55%;
    border-left: 1px solid transparent;
  }

  .title {
    font-size: 1.25rem;
  }

  .status {
    font-size: 1rem;
    text-transform: uppercase;
  }

  .option-icon {
    margin: 0.5rem 0.5rem auto auto;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    pointer-events: auto;
  }
}

.temp-icon {
  width: 60%;
  height: 60%;
}
