@import 'src/_themes.scss';

@include nb-install-component() {

  .nd-icon {
    width: 100%;
    height: 100%;

    &.Off {
      fill: nb-theme(color-fg);
      stroke: nb-theme(color-fg);
    }

    &.On {
      fill: nb-theme(color-fg-heading);
      stroke: nb-theme(color-fg-heading);
    }
  }
}
