@keyframes slidein {
  from {
    max-width: 0;
  }

  to {
    max-width: 100%;
  }
}

@keyframes slideout {
  from {
    max-width: 100%;
  }

  to {
    max-width: 0;
  }
}

@keyframes slidedown {
  from {
    max-height: 0;
  }

  to {
    max-height: calc(100vh - 2.75rem);
  }
}

@keyframes slideup {
  from {
    max-height: calc(100vh - 2.75rem);
  }

  to {
    max-height: 0;
  }
}

@keyframes backgroundin {
  from {
    background: rgba(0,0,0,0);
  }

  to {
    background: rgba(0,0,0,0.7);
  }
}

@keyframes backgroundout {
  from {
    background: rgba(0,0,0,0.7);
  }

  to {
    background: rgba(0,0,0,0);
  }
}

@keyframes enterright {
  from {
    right: -100%;
  }

  to {
    right: 0;
  }
}

@keyframes exitright {
  from {
    right: 0;
  }

  to {
    right: -100%;
  }
}

@keyframes enterleft {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

@keyframes exitleft {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}
