@keyframes slidein {
  from {
    max-width: 0;
  }

  to {
    max-width: 100%;
  }
}

@keyframes slideout {
  from {
    max-width: 100%;
  }

  to {
    max-width: 0;
  }
}

@keyframes backgroundin {
  from {
    background: rgba(0,0,0,0);
  }

  to {
    background: rgba(0,0,0,0.7);
  }
}

@keyframes backgroundout {
  from {
    background: rgba(0,0,0,0.7);
  }

  to {
    background: rgba(0,0,0,0);
  }
}
