@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/cosmic';

$nb-themes: nb-register-theme((
  color-basic-100: #a1a1e5,
  color-basic-800: #3d3780,
  color-basic-1000: #2f296b,

  text-primary-color: #ffff,
  text-primary-hover-color: text-primary-color,

  tabset-tab-active-underline-color-1: #00d977,
  tabset-tab-active-underline-color-2: #00d9bf,
  tabset-tab-hover-underline-color: none
), custom-cosmic, cosmic);
