@import '../../../../themes';
@import '../../../../animations';

@include nb-install-component() { }

.sidebar-container {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  pointer-events: none;

  .settings-button {
    width: 2.75rem;
    height: 2.75rem;
    position: relative;
    top: 50%;
    left: 0;
    pointer-events: auto;
  }

  .settings-container {
    animation-duration: 500ms;
    overflow: hidden;
    pointer-events: auto;

    &.in {
      animation-name: slidein;
    }

    &.out {
      animation-name: slideout;
    }

    .sidebar-content {
      min-width: 17.25rem;
    }
  }
}

@media (max-width: 768px) {

  .sidebar-container {
    margin: 4.75rem 0 0 0;
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
    height: auto;

    .settings-button {
      bottom: 0;
      left: calc(50vw - 1.375rem);
    }

    .settings-container {

      &.in {
        animation-name: slidedown;
      }

      &.out {
        animation-name: slideup;
      }
    }
  }
}
