@import '../../../../themes';
@import '../../../../animations';

@include nb-install-component() { }

.sidebar-container {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;

  .settings-button {
    width: 2.75rem;
    height: 2.75rem;
    position: relative;
    top: 50%;
    left: 0;
  }

  .settings-container {
    animation-duration: 500ms;
    overflow: hidden;

    &.in {
      animation-name: slidein;
    }

    &.out {
      animation-name: slideout;
    }

    .sidebar-content {
      min-width: 17.25rem;
    }
  }
}
